<!DOCTYPE html>
<html>
<table style="width:100%;text-align:left;background-color:lightseagreen;">
    <thead>
        <tr>
           
            <th style="font-size:15px">Food group</th>
            <th>Short descriptions</th>
            <th>Long descriptions</th>
            <th>Manufacturer</th>
            <th>Scientific name</th>
            <th>sequence_num</th>
            <th>amount</th>
            <th>description</th>
            <th>gm_weight</th>
            <th>num_data_pts</th>
            <th>std_dev</th>
            <th>nutrient_id </th>
            <th>amount </th>
            <th>num_data_points </th>
            <th>std_error </th>
            <th>source_code </th>
            <th>derivation_code </th>
            <th>reference_food_id</th>
            <th>added_nutrient</th>
            <th>num_studients</th>
            <th>min</th>
            <th>max</th>
            <th>degrees_freedom </th>
            <th>lower_error_bound </th>
            <th>upper_error_bound </th>
            <th>comments</th>
            <th>modification_date </th>
            <th>confidence_code </th>

        </tr>
    </thead>
    <tbody style="background-color:rgb(76, 185, 149);">

        <tr>

            <td>{{foods[15]}}</td>
            <td>{{foods[2]}}</td>
            <td>{{foods[3]}}</td> 
            <td>{{foods[5]}}</td>
            <td>{{foods[9]}}</td>
            <td>{{foods[17]}}</td>
            <td>{{foods[18]}}</td>
            <td>{{foods[19]}}</td>
            <td>{{foods[20]}}</td>
            <td>{{foods[21]}}</td>
            <td>{{foods[22]}}</td>
            <td>{{foods[24]}}</td>
            <td>{{foods[25]}}</td>
            <td>{{foods[26]}}</td> 
            <td>{{foods[27]}}</td>
            <td>{{foods[28]}}</td>
            <td>{{foods[29]}}</td>
            <td>{{foods[30]}}</td>
            <td>{{foods[31]}}</td>
            <td>{{foods[32]}}</td>
            <td>{{foods[33]}}</td>
            <td>{{foods[34]}}</td>
            <td>{{foods[35]}}</td>
            <td>{{foods[36]}}</td>
            <td>{{foods[37]}}</td> 
            <td>{{foods[38]}}</td>
            <td>{{foods[39]}}</td>
            <td>{{foods[40]}}</td>
            <td>{{foods[41]}}</td>

        
        
        </tr>

    </tbody>
</table>