<!DOCTYPE html>
<html>
<table>
    <thead>
        <tr>
           
            <th>Food group</th>
            <th>Short descriptions</th>
            <th>Long descriptions</th>
            <th>Manufacturer</th>
            <th>Scientific name</th>
        </tr>
    </thead>
    <tbody>

        <tr>

            <td>{{foods[15]}}</td>
            <td>{{foods[2]}}</td>
            <td>{{foods[3]}}</td> 
            <td>{{foods[5]}}</td>
            <td>{{foods[9]}}</td>
        
        
        </tr>

    </tbody>
</table>